
<router-outlet></router-outlet>
<div >
  <div class="header" id="top">
    <div class="">
      <h2 class="iconak" style="display: inline;"><div class="iconak-bar">Bright</div>Mind</h2>
      <div class="sign_in">Sign In</div>
    </div>
  </div>
  <div >
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-responsive" src="{{frontend_img}}/images/7.png" alt="Los Angeles" width="100%" >
        </div>
        <div class="carousel-item">
          <img class="img-responsive" src="{{frontend_img}}/images/8.png" alt="Chicago" width="100%" >
        </div>
        <div class="carousel-item">
          <img class="img-responsive" src="{{frontend_img}}/images/7.png" alt="New York" width="100%" >
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>

  <div class="body">

    <div >
      <div class="topnav">
        <div class="search-container">
            <input type="text" placeholder="Search The Movie" name="search">
            <button type="submit" ="find(this.value)"><i class="fa fa-search"></i></button>
        </div>
        <div class="dropdown-cont">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Website</button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem"  href="#">HTML</a></li>
              <li role="presentation"><a role="menuitem"  href="#">CSS</a></li>
              <li role="presentation"><a role="menuitem"  href="#">JavaScript</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem"  href="#">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container my_container " style="clear: both; padding: 30px;margin-bottom:0px; ">
        <h3>Recently Watched</h3>
        <div class="wrapper">
          <section id="section1">
          <a href="#section3" class="arrow__btn">‹</a>
          <div class="item">
          <img src="{{frontend_img}}images/1.png" >
          </div>
          <div class="item">
          <img src="{{frontend_img}}images/2.png">
            </div>
          <div class="item">
          <img src="{{frontend_img}}images/3.png">
          </div>
          <div class="item">
          <img src="{{frontend_img}}images/4.png">
        </div>
          <div class="item">
          <img src="{{frontend_img}}images/5.png">
         </div>
          <a href="#section2" class="arrow__btn">›</a>
          </section>
          <section id="section2">
          <a href="#section1" class="arrow__btn">‹</a>
          <div class="item">
            <img src="{{frontend_img}}images/1.png" >
            </div>
            <div class="item">
            <img src="{{frontend_img}}images/2.png">
              </div>
            <div class="item">
            <img src="{{frontend_img}}images/3.png">
            </div>
            <div class="item">
            <img src="{{frontend_img}}images/4.png">
          </div>
            <div class="item">
            <img src="{{frontend_img}}images/5.png">
           </div>
          <a href="#section3" class="arrow__btn">›</a>
          </section>
          <section id="section3">
          <a href="#section2" class="arrow__btn">‹</a>
          <div class="item">
            <img src="{{frontend_img}}images/1.png" >
            </div>
            <div class="item">
            <img src="{{frontend_img}}images/2.png">
              </div>
            <div class="item">
            <img src="{{frontend_img}}images/3.png">
            </div>
            <div class="item">
            <img src="{{frontend_img}}images/4.png">
          </div>
            <div class="item">
            <img src="{{frontend_img}}images/5.png">
           </div>
          <a href="#section1" class="arrow__btn">›</a>
          </section>
          </div>
        <h3 >Grade 1</h3>

        <div class="wrapper">
          <section id="section1">
          <a href="#section3" class="arrow__btn">‹</a>
          <div class="item">
          <img src="{{frontend_img}}images/1.png" >
          </div>
          <div class="item">
          <img src="{{frontend_img}}images/2.png">
            </div>
          <div class="item">
          <img src="{{frontend_img}}images/3.png">
          </div>
          <div class="item">
          <img src="{{frontend_img}}images/4.png">
        </div>
          <div class="item">
          <img src="{{frontend_img}}images/5.png">
         </div>
          <a href="#section2" class="arrow__btn">›</a>
          </section>
          <section id="section2">
          <a href="#section1" class="arrow__btn">‹</a>
          <div class="item">
            <img src="{{frontend_img}}images/1.png" >
            </div>
            <div class="item">
            <img src="{{frontend_img}}images/2.png">
              </div>
            <div class="item">
            <img src="{{frontend_img}}images/3.png">
            </div>
            <div class="item">
            <img src="{{frontend_img}}images/4.png">
          </div>
            <div class="item">
            <img src="{{frontend_img}}images/5.png">
           </div>
          <a href="#section3" class="arrow__btn">›</a>
          </section>
          <section id="section3">
          <a href="#section2" class="arrow__btn">‹</a>
          <div class="item">
            <img src="{{frontend_img}}images/1.png" >
            </div>
            <div class="item">
            <img src="{{frontend_img}}images/2.png">
              </div>
            <div class="item">
            <img src="{{frontend_img}}images/3.png">
            </div>
            <div class="item">
            <img src="{{frontend_img}}images/4.png">
          </div>
            <div class="item">
            <img src="{{frontend_img}}images/5.png">
           </div>
          <a href="#section1" class="arrow__btn">›</a>
          </section>
          </div>
        <h3 >Grade 3</h3>
        <div class="row">
          
          <div class="col-sm-3 my_card img-bottom-shadow"><img src="{{frontend_img}}images/1.png" alt=" " class="img-responsive my_card_img"></div>
        <div class="col-sm-3 my_card"><img src="{{frontend_img}}images/6.png" alt=" " class="img-responsive my_card_img" ></div>
        <div class="col-sm-3 my_card"><img src="{{frontend_img}}images/2.png" alt=" " class="img-responsive my_card_img"></div>
        <div class="col-sm-3 my_card"><img src="{{frontend_img}}images/3.png" alt=" " class="img-responsive my_card_img"></div>
        </div>

        <h3>Grade 4</h3>
        <div class="row">
        <div class="col-sm-3 my_card"><img src="{{frontend_img}}images/4.png" alt=" " class="img-responsive"></div>
        <div class="col-sm-3 my_card"><img src="{{frontend_img}}images/5.png" alt=" " class="img-responsive"></div>
        <div class="col-sm-3 my_card"><img src="{{frontend_img}}images/3.png" alt=" " class="img-responsive"></div>
        <div class="col-sm-3 my_card"><img src="{{frontend_img}}images/4.png" alt=" " class="img-responsive"></div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="footer" style="padding: 30px;">
    <div class="container " >
      
    <div class="row">
      <div class="col-md-4 " >
        <h4 class="footer-tab" >Facebook</h4>
        <h4 class="footer-tab" >Help</h4>
        <h4 class="footer-tab-l" >Contact Us</h4></div>
        <div class="col-md-4" ><h2 class="iconak" style="display: inline;" ><div class="iconak-bar" >Bright</div>Mind</h2></div>
        <div class="col-md-4"><h3 style="display: inline;color: white; margin-right: 10px;">FOLLOW  US</h3>
          <i style="color: white; margin-right: 10px;"> <a class="facebook" href="#">
            <i class="fa fa-facebook"></i></a></i><i  style="color: white; margin-left:10px;"> <a class="twitter" href="#"><i class="fa fa-twitter"></i></a></i></div>
         
         
        </div>
    </div>
    <div class="text-center" style="padding:20px;"><p>© 2021 All Rights Reserved | Design by Akash</p></div>
  </div>
  <button id="myBtn"><a href="#top" style="color: white">Top</a></button>
</div>
